
.vs/
packages/

TaviV4/bin/
TaviV4/obj/

Tavi.BoMayToChuc/bin/Debug/
Tavi.BoMayToChuc/obj/

Tavi.Core/bin/
Tavi.Core/obj/

Tavi.Database/bin/
Tavi.Database/obj/

Tavi.MRS/bin/
Tavi.MRS/obj/

Tavi.MrsClientDB/bin/
Tavi.MrsClientDB/obj/

Tavi.MrsDB/bin/
Tavi.MrsDB/obj/

Tavi.MRS_Client/bin/
Tavi.MRS_Client/obj/

Tavi.Website_Client/bin/
Tavi.Website_Client/obj/