@section header{
    Trang chủ
    }
<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                <div class="row">
                    <!-- task, page, download counter  start -->
                    <div class="col-xl-3 col-md-6">
                        <div class="card">
                            <div class="card-block">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h4 class="text-c-purple">$30200</h4>
                                        <h6 class="text-muted m-b-0">All Earnings</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="fa fa-bar-chart f-28"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-c-purple">
                                <div class="row align-items-center">
                                    <div class="col-9">
                                        <p class="text-white m-b-0">% change</p>
                                    </div>
                                    <div class="col-3 text-right">
                                        <i class="fa fa-line-chart text-white f-16"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card">
                            <div class="card-block">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h4 class="text-c-green">290+</h4>
                                        <h6 class="text-muted m-b-0">Page Views</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="fa fa-file-text-o f-28"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-c-green">
                                <div class="row align-items-center">
                                    <div class="col-9">
                                        <p class="text-white m-b-0">% change</p>
                                    </div>
                                    <div class="col-3 text-right">
                                        <i class="fa fa-line-chart text-white f-16"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card">
                            <div class="card-block">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h4 class="text-c-red">145</h4>
                                        <h6 class="text-muted m-b-0">Task Completed</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="fa fa-calendar-check-o f-28"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-c-red">
                                <div class="row align-items-center">
                                    <div class="col-9">
                                        <p class="text-white m-b-0">% change</p>
                                    </div>
                                    <div class="col-3 text-right">
                                        <i class="fa fa-line-chart text-white f-16"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card">
                            <div class="card-block">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h4 class="text-c-blue">500</h4>
                                        <h6 class="text-muted m-b-0">Downloads</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="fa fa-hand-o-down f-28"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-c-blue">
                                <div class="row align-items-center">
                                    <div class="col-9">
                                        <p class="text-white m-b-0">% change</p>
                                    </div>
                                    <div class="col-3 text-right">
                                        <i class="fa fa-line-chart text-white f-16"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- task, page, download counter  end -->
                    <!--  sale analytics start -->
                    <div class="col-xl-8 col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Sales Analytics</h5>
                                <span class="text-muted">Get 15% Off on <a href="https://www.amcharts.com/" target="_blank">amCharts</a> licences. Use code "codedthemes" and get the discount.</span>
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                        <li><i class="fa fa-window-maximize full-card"></i></li>
                                        <li><i class="fa fa-minus minimize-card"></i></li>
                                        <li><i class="fa fa-refresh reload-card"></i></li>
                                        <li><i class="fa fa-trash close-card"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block">
                                <div id="sales-analytics" style="height: 400px; overflow: visible; text-align: left;"><div class="amcharts-main-div" style="position: relative;"><div class="amcharts-chart-div" style="overflow: hidden; position: relative; text-align: left; width: 641px; height: 400px; padding: 0px; cursor: default; touch-action: auto;"><svg version="1.1" style="position: absolute; width: 641px; height: 400px; top: -0.203125px; left: -0.203125px;"><desc>JavaScript chart by amCharts 3.21.15</desc><g><path cs="100,100" d="M0.5,0.5 L640.5,0.5 L640.5,399.5 L0.5,399.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" class="amcharts-bg"></path><path cs="100,100" d="M0.5,0.5 L560.5,0.5 L560.5,249.5 L0.5,249.5 L0.5,0.5 Z" fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1" stroke-opacity="0" class="amcharts-plot-area" transform="translate(40,110)"></path></g><g><g class="amcharts-value-axis value-axis-v1" transform="translate(40,0)" visibility="hidden"></g><g class="amcharts-category-axis" transform="translate(40,110)"><g><path cs="100,100" d="M15.5,0.5 L15.5,5.5" fill="none" stroke-width="1" stroke-opacity="0.3" stroke="#000000" transform="translate(0,249)" class="amcharts-axis-tick"></path><path cs="100,100" d="M15.5,249.5 L15.5,249.5 L15.5,0.5" fill="none" stroke-width="1" stroke-dasharray="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M107.5,0.5 L107.5,5.5" fill="none" stroke-width="1" stroke-opacity="0.3" stroke="#000000" transform="translate(0,249)" class="amcharts-axis-tick"></path><path cs="100,100" d="M107.5,249.5 L107.5,249.5 L107.5,0.5" fill="none" stroke-width="1" stroke-dasharray="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M197.5,0.5 L197.5,5.5" fill="none" stroke-width="1" stroke-opacity="0.3" stroke="#000000" transform="translate(0,249)" class="amcharts-axis-tick"></path><path cs="100,100" d="M197.5,249.5 L197.5,249.5 L197.5,0.5" fill="none" stroke-width="1" stroke-dasharray="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M289.5,0.5 L289.5,5.5" fill="none" stroke-width="1" stroke-opacity="0.3" stroke="#000000" transform="translate(0,249)" class="amcharts-axis-tick"></path><path cs="100,100" d="M289.5,249.5 L289.5,249.5 L289.5,0.5" fill="none" stroke-width="1" stroke-dasharray="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M378.5,0.5 L378.5,5.5" fill="none" stroke-width="1" stroke-opacity="0.3" stroke="#000000" transform="translate(0,249)" class="amcharts-axis-tick"></path><path cs="100,100" d="M378.5,249.5 L378.5,249.5 L378.5,0.5" fill="none" stroke-width="1" stroke-dasharray="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M471.5,0.5 L471.5,5.5" fill="none" stroke-width="1" stroke-opacity="0.3" stroke="#000000" transform="translate(0,249)" class="amcharts-axis-tick"></path><path cs="100,100" d="M471.5,249.5 L471.5,249.5 L471.5,0.5" fill="none" stroke-width="1" stroke-dasharray="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g></g><g class="amcharts-value-axis value-axis-v1" transform="translate(40,110)" visibility="visible"><g><path cs="100,100" d="M0.5,249.5 L0.5,249.5 L560.5,249.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M0.5,199.5 L0.5,199.5 L560.5,199.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M0.5,149.5 L0.5,149.5 L560.5,149.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M0.5,100.5 L0.5,100.5 L560.5,100.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M0.5,50.5 L0.5,50.5 L560.5,50.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g><g><path cs="100,100" d="M0.5,0.5 L0.5,0.5 L560.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.1" stroke="#000000" class="amcharts-axis-grid"></path></g></g></g><g transform="translate(40,110)" clip-path="url(#AmChartsEl-3)"><g visibility="hidden"></g></g><g></g><g></g><g></g><g><g transform="translate(40,110)" class="amcharts-graph-line amcharts-graph-g1"><g></g><g clip-path="url(#AmChartsEl-5)"><path cs="100,100" d="M1.5,217.13 L4.5,222.11 L7.5,212.15 L10.5,209.66 L13.5,204.68 L16.5,217.13 L19.5,194.72 L22.5,192.23 L25.5,199.7 L28.5,207.17 L31.5,209.66 L34.5,204.68 L37.5,197.21 L40.5,184.76 L43.5,189.74 L46.5,177.29 L49.5,169.82 L52.5,204.68 L55.5,189.74 L58.5,194.72 L61.5,204.68 L64.5,202.19 L67.5,214.64 L70.5,212.15 L73.5,219.62 L76.5,229.58 L79.5,227.09 L82.5,229.58 L85.5,232.07 L88.5,237.05 L91.5,222.11 L94.5,217.13 L97.5,204.68 L100.5,199.7 L103.5,177.29 L106.5,167.33 L109.5,144.92 L112.5,162.35 L115.5,172.31 L118.5,132.47 L121.5,120.02 L124.5,134.96 L127.5,147.41 L130.5,142.43 L133.5,149.9 L136.5,152.39 L139.5,164.84 L141.5,177.29 L144.5,164.84 L147.5,157.37 L150.5,144.92 L153.5,127.49 L156.5,134.96 L159.5,132.47 L162.5,112.55 L165.5,102.59 L168.5,105.08 L171.5,107.57 L174.5,97.61 L177.5,102.59 L180.5,82.67 L183.5,87.65 L186.5,97.61 L189.5,85.16 L192.5,77.69 L195.5,72.71 L198.5,82.67 L201.5,92.63 L204.5,134.96 L207.5,169.82 L210.5,197.21 L213.5,204.68 L216.5,197.21 L219.5,179.78 L222.5,182.27 L225.5,159.86 L228.5,167.33 L231.5,172.31 L234.5,174.8 L237.5,164.84 L240.5,154.88 L243.5,157.37 L246.5,139.94 L249.5,127.49 L252.5,117.53 L255.5,107.57 L258.5,100.1 L261.5,97.61 L264.5,77.69 L267.5,82.67 L270.5,70.22 L273.5,57.77 L276.5,62.75 L279.5,75.2 L281.5,70.22 L284.5,75.2 L287.5,70.22 L290.5,67.73 L293.5,82.67 L296.5,80.18 L299.5,87.65 L302.5,72.71 L305.5,62.75 L308.5,65.24 L311.5,72.71 L314.5,60.26 L317.5,57.77 L320.5,47.81 L323.5,42.83 L326.5,50.3 L329.5,47.81 L332.5,32.87 L335.5,45.32 L338.5,35.36 L341.5,50.3 L344.5,32.87 L347.5,42.83 L350.5,37.85 L353.5,40.34 L356.5,45.32 L359.5,67.73 L362.5,72.71 L365.5,62.75 L368.5,52.79 L371.5,75.2 L374.5,67.73 L377.5,97.61 L380.5,95.12 L383.5,85.16 L386.5,87.65 L389.5,67.73 L392.5,52.79 L395.5,55.28 L398.5,55.28 L401.5,55.28 L404.5,65.24 L407.5,67.73 L410.5,62.75 L413.5,75.2 L416.5,57.77 L419.5,82.67 L421.5,95.12 L424.5,90.14 L427.5,97.61 L430.5,102.59 L433.5,117.53 L436.5,115.04 L439.5,110.06 L442.5,102.59 L445.5,105.08 L448.5,112.55 L451.5,120.02 L454.5,115.04 L457.5,125 L460.5,125 L463.5,122.51 L466.5,120.02 L469.5,105.08 L472.5,100.1 L475.5,82.67 L478.5,90.14 L481.5,85.16 L484.5,100.1 L487.5,92.63 L490.5,97.61 L493.5,100.1 L496.5,87.65 L499.5,62.75 L502.5,57.77 L505.5,55.28 L508.5,75.2 L511.5,75.2 L514.5,67.73 L517.5,72.71 L520.5,65.24 L523.5,55.28 L526.5,37.85 L529.5,45.32 L532.5,42.83 L535.5,30.38 L538.5,37.85 L541.5,37.85 L544.5,50.3 L547.5,32.87 L550.5,40.34 L553.5,42.83 L556.5,40.34 L559.5,47.81 L559.5,249.5 L1.5,249.5 L1.5,217.13 Z" fill="#11c15b" stroke="#000" fill-opacity="0.5" stroke-width="1" stroke-opacity="0" class="amcharts-graph-fill"></path><path cs="100,100" d="M1.5,217.13 L4.5,222.11 L7.5,212.15 L10.5,209.66 L13.5,204.68 L16.5,217.13 L19.5,194.72 L22.5,192.23 L25.5,199.7 L28.5,207.17 L31.5,209.66 L34.5,204.68 L37.5,197.21 L40.5,184.76 L43.5,189.74 L46.5,177.29 L49.5,169.82 L52.5,204.68 L55.5,189.74 L58.5,194.72 L61.5,204.68 L64.5,202.19 L67.5,214.64 L70.5,212.15 L73.5,219.62 L76.5,229.58 L79.5,227.09 L82.5,229.58 L85.5,232.07 L88.5,237.05 L91.5,222.11 L94.5,217.13 L97.5,204.68 L100.5,199.7 L103.5,177.29 L106.5,167.33 L109.5,144.92 L112.5,162.35 L115.5,172.31 L118.5,132.47 L121.5,120.02 L124.5,134.96 L127.5,147.41 L130.5,142.43 L133.5,149.9 L136.5,152.39 L139.5,164.84 L141.5,177.29 L144.5,164.84 L147.5,157.37 L150.5,144.92 L153.5,127.49 L156.5,134.96 L159.5,132.47 L162.5,112.55 L165.5,102.59 L168.5,105.08 L171.5,107.57 L174.5,97.61 L177.5,102.59 L180.5,82.67 L183.5,87.65 L186.5,97.61 L189.5,85.16 L192.5,77.69 L195.5,72.71 L198.5,82.67 L201.5,92.63 L204.5,134.96 L207.5,169.82 L210.5,197.21 L213.5,204.68 L216.5,197.21 L219.5,179.78 L222.5,182.27 L225.5,159.86 L228.5,167.33 L231.5,172.31 L234.5,174.8 L237.5,164.84 L240.5,154.88 L243.5,157.37 L246.5,139.94 L249.5,127.49 L252.5,117.53 L255.5,107.57 L258.5,100.1 L261.5,97.61 L264.5,77.69 L267.5,82.67 L270.5,70.22 L273.5,57.77 L276.5,62.75 L279.5,75.2 L281.5,70.22 L284.5,75.2 L287.5,70.22 L290.5,67.73 L293.5,82.67 L296.5,80.18 L299.5,87.65 L302.5,72.71 L305.5,62.75 L308.5,65.24 L311.5,72.71 L314.5,60.26 L317.5,57.77 L320.5,47.81 L323.5,42.83 L326.5,50.3 L329.5,47.81 L332.5,32.87 L335.5,45.32 L338.5,35.36 L341.5,50.3 L344.5,32.87 L347.5,42.83 L350.5,37.85 L353.5,40.34 L356.5,45.32 L359.5,67.73 L362.5,72.71 L365.5,62.75 L368.5,52.79 L371.5,75.2 L374.5,67.73 L377.5,97.61 L380.5,95.12 L383.5,85.16 L386.5,87.65 L389.5,67.73 L392.5,52.79 L395.5,55.28 L398.5,55.28 L401.5,55.28 L404.5,65.24 L407.5,67.73 L410.5,62.75 L413.5,75.2 L416.5,57.77 L419.5,82.67 L421.5,95.12 L424.5,90.14 L427.5,97.61 L430.5,102.59 L433.5,117.53 L436.5,115.04 L439.5,110.06 L442.5,102.59 L445.5,105.08 L448.5,112.55 L451.5,120.02 L454.5,115.04 L457.5,125 L460.5,125 L463.5,122.51 L466.5,120.02 L469.5,105.08 L472.5,100.1 L475.5,82.67 L478.5,90.14 L481.5,85.16 L484.5,100.1 L487.5,92.63 L490.5,97.61 L493.5,100.1 L496.5,87.65 L499.5,62.75 L502.5,57.77 L505.5,55.28 L508.5,75.2 L511.5,75.2 L514.5,67.73 L517.5,72.71 L520.5,65.24 L523.5,55.28 L526.5,37.85 L529.5,45.32 L532.5,42.83 L535.5,30.38 L538.5,37.85 L541.5,37.85 L544.5,50.3 L547.5,32.87 L550.5,40.34 L553.5,42.83 L556.5,40.34 L559.5,47.81" fill="none" stroke-width="3" stroke-opacity="0.9" stroke="#11c15b" stroke-linejoin="round" class="amcharts-graph-stroke"></path></g><clipPath id="AmChartsEl-5"><rect x="0" y="0" width="560" height="249" rx="0" ry="0" stroke-width="0"></rect></clipPath><g></g></g></g><g></g><g><path cs="100,100" d="M0.5,249.5 L560.5,249.5 L560.5,249.5" fill="none" stroke-width="1" stroke-opacity="0.2" stroke="#000000" transform="translate(40,110)" class="amcharts-axis-zero-grid-v1 amcharts-axis-zero-grid"></path><path cs="100,100" d="M0.5,90.5 L561.5,90.5 L561.5,90.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(40,0)" class="amcharts-axis-zero-grid-v1 amcharts-axis-zero-grid"></path><g><path cs="100,100" d="M0.5,0.5 L560.5,0.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(0,90)" class="amcharts-axis-line"></path></g><g class="amcharts-value-axis value-axis-v1"><path cs="100,100" d="M0.5,0.5 L0.5,90.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(40,0)" class="amcharts-axis-line" visibility="hidden"></path></g><g class="amcharts-category-axis"><path cs="100,100" d="M0.5,0.5 L560.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.3" stroke="#000000" transform="translate(40,359)" class="amcharts-axis-line"></path></g><g class="amcharts-value-axis value-axis-v1"><path cs="100,100" d="M0.5,0.5 L0.5,249.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" transform="translate(40,110)" class="amcharts-axis-line" visibility="visible"></path></g></g><g><g transform="translate(40,110)" clip-path="url(#AmChartsEl-4)" style="pointer-events: none;"><path cs="100,100" d="M0.5,0.5 L0.5,0.5 L0.5,249.5" fill="none" stroke-width="1" stroke-opacity="0" stroke="#000000" class="amcharts-cursor-line amcharts-cursor-line-vertical" visibility="hidden" transform="translate(380,0)"></path><path cs="100,100" d="M0.5,0.5 L560.5,0.5 L560.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.5" stroke="#000000" class="amcharts-cursor-line amcharts-cursor-line-horizontal" visibility="hidden" transform="translate(0,182)"></path></g><clipPath id="AmChartsEl-4"><rect x="0" y="0" width="560" height="249" rx="0" ry="0" stroke-width="0"></rect></clipPath></g><g><g class="amcharts-scrollbar-horizontal" visibility="visible" transform="translate(40,20)" style="touch-action: none;"><rect x="0.5" y="0.5" width="561" height="90" rx="0" ry="0" stroke-width="1" fill="#000000" stroke="#000000" fill-opacity="0.12" stroke-opacity="0.12" class="amcharts-scrollbar-bg"></rect><rect x="0.5" y="0.5" width="560" height="91" rx="0" ry="0" stroke-width="0" fill="#FFFFFF" stroke="#FFFFFF" fill-opacity="0.4" stroke-opacity="0.4" class="amcharts-scrollbar-bg-selected" transform="translate(0,0)"></rect><g transform="translate(0,0)" class="amcharts-graph-line amcharts-graph-g1"><g></g><g><path cs="100,100" d="M1.5,78.8 L4.5,80.6 L7.5,77 L10.5,76.1 L13.5,74.3 L16.5,78.8 L19.5,70.7 L22.5,69.8 L25.5,72.5 L28.5,75.2 L31.5,76.1 L34.5,74.3 L37.5,71.6 L40.5,67.1 L43.5,68.9 L46.5,64.4 L49.5,61.7 L52.5,74.3 L55.5,68.9 L58.5,70.7 L61.5,74.3 L64.5,73.4 L67.5,77.9 L70.5,77 L73.5,79.7 L76.5,83.3 L79.5,82.4 L82.5,83.3 L85.5,84.2 L88.5,86 L91.5,80.6 L94.5,78.8 L97.5,74.3 L100.5,72.5 L103.5,64.4 L106.5,60.8 L109.5,52.7 L112.5,59 L115.5,62.6 L118.5,48.2 L121.5,43.7 L124.5,49.1 L127.5,53.6 L130.5,51.8 L133.5,54.5 L136.5,55.4 L139.5,59.9 L141.5,64.4 L144.5,59.9 L147.5,57.2 L150.5,52.7 L153.5,46.4 L156.5,49.1 L159.5,48.2 L162.5,41 L165.5,37.4 L168.5,38.3 L171.5,39.2 L174.5,35.6 L177.5,37.4 L180.5,30.2 L183.5,32 L186.5,35.6 L189.5,31.1 L192.5,28.4 L195.5,26.6 L198.5,30.2 L201.5,33.8 L204.5,49.1 L207.5,61.7 L210.5,71.6 L213.5,74.3 L216.5,71.6 L219.5,65.3 L222.5,66.2 L225.5,58.1 L228.5,60.8 L231.5,62.6 L234.5,63.5 L237.5,59.9 L240.5,56.3 L243.5,57.2 L246.5,50.9 L249.5,46.4 L252.5,42.8 L255.5,39.2 L258.5,36.5 L261.5,35.6 L264.5,28.4 L267.5,30.2 L270.5,25.7 L273.5,21.2 L276.5,23 L279.5,27.5 L281.5,25.7 L284.5,27.5 L287.5,25.7 L290.5,24.8 L293.5,30.2 L296.5,29.3 L299.5,32 L302.5,26.6 L305.5,23 L308.5,23.9 L311.5,26.6 L314.5,22.1 L317.5,21.2 L320.5,17.6 L323.5,15.8 L326.5,18.5 L329.5,17.6 L332.5,12.2 L335.5,16.7 L338.5,13.1 L341.5,18.5 L344.5,12.2 L347.5,15.8 L350.5,14 L353.5,14.9 L356.5,16.7 L359.5,24.8 L362.5,26.6 L365.5,23 L368.5,19.4 L371.5,27.5 L374.5,24.8 L377.5,35.6 L380.5,34.7 L383.5,31.1 L386.5,32 L389.5,24.8 L392.5,19.4 L395.5,20.3 L398.5,20.3 L401.5,20.3 L404.5,23.9 L407.5,24.8 L410.5,23 L413.5,27.5 L416.5,21.2 L419.5,30.2 L421.5,34.7 L424.5,32.9 L427.5,35.6 L430.5,37.4 L433.5,42.8 L436.5,41.9 L439.5,40.1 L442.5,37.4 L445.5,38.3 L448.5,41 L451.5,43.7 L454.5,41.9 L457.5,45.5 L460.5,45.5 L463.5,44.6 L466.5,43.7 L469.5,38.3 L472.5,36.5 L475.5,30.2 L478.5,32.9 L481.5,31.1 L484.5,36.5 L487.5,33.8 L490.5,35.6 L493.5,36.5 L496.5,32 L499.5,23 L502.5,21.2 L505.5,20.3 L508.5,27.5 L511.5,27.5 L514.5,24.8 L517.5,26.6 L520.5,23.9 L523.5,20.3 L526.5,14 L529.5,16.7 L532.5,15.8 L535.5,11.3 L538.5,14 L541.5,14 L544.5,18.5 L547.5,12.2 L550.5,14.9 L553.5,15.8 L556.5,14.9 L559.5,17.6 L559.5,90.5 L1.5,90.5 L1.5,78.8 Z" fill="#BBBBBB" stroke="#000" fill-opacity="0.5" stroke-width="1" stroke-opacity="0" class="amcharts-scrollbar-graph-fill"></path><path cs="100,100" d="M1.5,78.8 L4.5,80.6 L7.5,77 L10.5,76.1 L13.5,74.3 L16.5,78.8 L19.5,70.7 L22.5,69.8 L25.5,72.5 L28.5,75.2 L31.5,76.1 L34.5,74.3 L37.5,71.6 L40.5,67.1 L43.5,68.9 L46.5,64.4 L49.5,61.7 L52.5,74.3 L55.5,68.9 L58.5,70.7 L61.5,74.3 L64.5,73.4 L67.5,77.9 L70.5,77 L73.5,79.7 L76.5,83.3 L79.5,82.4 L82.5,83.3 L85.5,84.2 L88.5,86 L91.5,80.6 L94.5,78.8 L97.5,74.3 L100.5,72.5 L103.5,64.4 L106.5,60.8 L109.5,52.7 L112.5,59 L115.5,62.6 L118.5,48.2 L121.5,43.7 L124.5,49.1 L127.5,53.6 L130.5,51.8 L133.5,54.5 L136.5,55.4 L139.5,59.9 L141.5,64.4 L144.5,59.9 L147.5,57.2 L150.5,52.7 L153.5,46.4 L156.5,49.1 L159.5,48.2 L162.5,41 L165.5,37.4 L168.5,38.3 L171.5,39.2 L174.5,35.6 L177.5,37.4 L180.5,30.2 L183.5,32 L186.5,35.6 L189.5,31.1 L192.5,28.4 L195.5,26.6 L198.5,30.2 L201.5,33.8 L204.5,49.1 L207.5,61.7 L210.5,71.6 L213.5,74.3 L216.5,71.6 L219.5,65.3 L222.5,66.2 L225.5,58.1 L228.5,60.8 L231.5,62.6 L234.5,63.5 L237.5,59.9 L240.5,56.3 L243.5,57.2 L246.5,50.9 L249.5,46.4 L252.5,42.8 L255.5,39.2 L258.5,36.5 L261.5,35.6 L264.5,28.4 L267.5,30.2 L270.5,25.7 L273.5,21.2 L276.5,23 L279.5,27.5 L281.5,25.7 L284.5,27.5 L287.5,25.7 L290.5,24.8 L293.5,30.2 L296.5,29.3 L299.5,32 L302.5,26.6 L305.5,23 L308.5,23.9 L311.5,26.6 L314.5,22.1 L317.5,21.2 L320.5,17.6 L323.5,15.8 L326.5,18.5 L329.5,17.6 L332.5,12.2 L335.5,16.7 L338.5,13.1 L341.5,18.5 L344.5,12.2 L347.5,15.8 L350.5,14 L353.5,14.9 L356.5,16.7 L359.5,24.8 L362.5,26.6 L365.5,23 L368.5,19.4 L371.5,27.5 L374.5,24.8 L377.5,35.6 L380.5,34.7 L383.5,31.1 L386.5,32 L389.5,24.8 L392.5,19.4 L395.5,20.3 L398.5,20.3 L401.5,20.3 L404.5,23.9 L407.5,24.8 L410.5,23 L413.5,27.5 L416.5,21.2 L419.5,30.2 L421.5,34.7 L424.5,32.9 L427.5,35.6 L430.5,37.4 L433.5,42.8 L436.5,41.9 L439.5,40.1 L442.5,37.4 L445.5,38.3 L448.5,41 L451.5,43.7 L454.5,41.9 L457.5,45.5 L460.5,45.5 L463.5,44.6 L466.5,43.7 L469.5,38.3 L472.5,36.5 L475.5,30.2 L478.5,32.9 L481.5,31.1 L484.5,36.5 L487.5,33.8 L490.5,35.6 L493.5,36.5 L496.5,32 L499.5,23 L502.5,21.2 L505.5,20.3 L508.5,27.5 L511.5,27.5 L514.5,24.8 L517.5,26.6 L520.5,23.9 L523.5,20.3 L526.5,14 L529.5,16.7 L532.5,15.8 L535.5,11.3 L538.5,14 L541.5,14 L544.5,18.5 L547.5,12.2 L550.5,14.9 L553.5,15.8 L556.5,14.9 L559.5,17.6" fill="none" stroke-width="1" stroke-opacity="0" stroke="#BBBBBB" stroke-linejoin="round" class="amcharts-scrollbar-graph-stroke"></path></g><g></g></g><g transform="translate(0,0)" class="amcharts-graph-line amcharts-graph-g1" clip-path="url(#AmChartsEl-6)"><g></g><g><path cs="100,100" d="M1.5,78.8 L4.5,80.6 L7.5,77 L10.5,76.1 L13.5,74.3 L16.5,78.8 L19.5,70.7 L22.5,69.8 L25.5,72.5 L28.5,75.2 L31.5,76.1 L34.5,74.3 L37.5,71.6 L40.5,67.1 L43.5,68.9 L46.5,64.4 L49.5,61.7 L52.5,74.3 L55.5,68.9 L58.5,70.7 L61.5,74.3 L64.5,73.4 L67.5,77.9 L70.5,77 L73.5,79.7 L76.5,83.3 L79.5,82.4 L82.5,83.3 L85.5,84.2 L88.5,86 L91.5,80.6 L94.5,78.8 L97.5,74.3 L100.5,72.5 L103.5,64.4 L106.5,60.8 L109.5,52.7 L112.5,59 L115.5,62.6 L118.5,48.2 L121.5,43.7 L124.5,49.1 L127.5,53.6 L130.5,51.8 L133.5,54.5 L136.5,55.4 L139.5,59.9 L141.5,64.4 L144.5,59.9 L147.5,57.2 L150.5,52.7 L153.5,46.4 L156.5,49.1 L159.5,48.2 L162.5,41 L165.5,37.4 L168.5,38.3 L171.5,39.2 L174.5,35.6 L177.5,37.4 L180.5,30.2 L183.5,32 L186.5,35.6 L189.5,31.1 L192.5,28.4 L195.5,26.6 L198.5,30.2 L201.5,33.8 L204.5,49.1 L207.5,61.7 L210.5,71.6 L213.5,74.3 L216.5,71.6 L219.5,65.3 L222.5,66.2 L225.5,58.1 L228.5,60.8 L231.5,62.6 L234.5,63.5 L237.5,59.9 L240.5,56.3 L243.5,57.2 L246.5,50.9 L249.5,46.4 L252.5,42.8 L255.5,39.2 L258.5,36.5 L261.5,35.6 L264.5,28.4 L267.5,30.2 L270.5,25.7 L273.5,21.2 L276.5,23 L279.5,27.5 L281.5,25.7 L284.5,27.5 L287.5,25.7 L290.5,24.8 L293.5,30.2 L296.5,29.3 L299.5,32 L302.5,26.6 L305.5,23 L308.5,23.9 L311.5,26.6 L314.5,22.1 L317.5,21.2 L320.5,17.6 L323.5,15.8 L326.5,18.5 L329.5,17.6 L332.5,12.2 L335.5,16.7 L338.5,13.1 L341.5,18.5 L344.5,12.2 L347.5,15.8 L350.5,14 L353.5,14.9 L356.5,16.7 L359.5,24.8 L362.5,26.6 L365.5,23 L368.5,19.4 L371.5,27.5 L374.5,24.8 L377.5,35.6 L380.5,34.7 L383.5,31.1 L386.5,32 L389.5,24.8 L392.5,19.4 L395.5,20.3 L398.5,20.3 L401.5,20.3 L404.5,23.9 L407.5,24.8 L410.5,23 L413.5,27.5 L416.5,21.2 L419.5,30.2 L421.5,34.7 L424.5,32.9 L427.5,35.6 L430.5,37.4 L433.5,42.8 L436.5,41.9 L439.5,40.1 L442.5,37.4 L445.5,38.3 L448.5,41 L451.5,43.7 L454.5,41.9 L457.5,45.5 L460.5,45.5 L463.5,44.6 L466.5,43.7 L469.5,38.3 L472.5,36.5 L475.5,30.2 L478.5,32.9 L481.5,31.1 L484.5,36.5 L487.5,33.8 L490.5,35.6 L493.5,36.5 L496.5,32 L499.5,23 L502.5,21.2 L505.5,20.3 L508.5,27.5 L511.5,27.5 L514.5,24.8 L517.5,26.6 L520.5,23.9 L523.5,20.3 L526.5,14 L529.5,16.7 L532.5,15.8 L535.5,11.3 L538.5,14 L541.5,14 L544.5,18.5 L547.5,12.2 L550.5,14.9 L553.5,15.8 L556.5,14.9 L559.5,17.6 L559.5,90.5 L1.5,90.5 L1.5,78.8 Z" fill="#888888" stroke="#000" fill-opacity="1" stroke-width="1" stroke-opacity="0" class="amcharts-scrollbar-graph-selected-fill"></path><path cs="100,100" d="M1.5,78.8 L4.5,80.6 L7.5,77 L10.5,76.1 L13.5,74.3 L16.5,78.8 L19.5,70.7 L22.5,69.8 L25.5,72.5 L28.5,75.2 L31.5,76.1 L34.5,74.3 L37.5,71.6 L40.5,67.1 L43.5,68.9 L46.5,64.4 L49.5,61.7 L52.5,74.3 L55.5,68.9 L58.5,70.7 L61.5,74.3 L64.5,73.4 L67.5,77.9 L70.5,77 L73.5,79.7 L76.5,83.3 L79.5,82.4 L82.5,83.3 L85.5,84.2 L88.5,86 L91.5,80.6 L94.5,78.8 L97.5,74.3 L100.5,72.5 L103.5,64.4 L106.5,60.8 L109.5,52.7 L112.5,59 L115.5,62.6 L118.5,48.2 L121.5,43.7 L124.5,49.1 L127.5,53.6 L130.5,51.8 L133.5,54.5 L136.5,55.4 L139.5,59.9 L141.5,64.4 L144.5,59.9 L147.5,57.2 L150.5,52.7 L153.5,46.4 L156.5,49.1 L159.5,48.2 L162.5,41 L165.5,37.4 L168.5,38.3 L171.5,39.2 L174.5,35.6 L177.5,37.4 L180.5,30.2 L183.5,32 L186.5,35.6 L189.5,31.1 L192.5,28.4 L195.5,26.6 L198.5,30.2 L201.5,33.8 L204.5,49.1 L207.5,61.7 L210.5,71.6 L213.5,74.3 L216.5,71.6 L219.5,65.3 L222.5,66.2 L225.5,58.1 L228.5,60.8 L231.5,62.6 L234.5,63.5 L237.5,59.9 L240.5,56.3 L243.5,57.2 L246.5,50.9 L249.5,46.4 L252.5,42.8 L255.5,39.2 L258.5,36.5 L261.5,35.6 L264.5,28.4 L267.5,30.2 L270.5,25.7 L273.5,21.2 L276.5,23 L279.5,27.5 L281.5,25.7 L284.5,27.5 L287.5,25.7 L290.5,24.8 L293.5,30.2 L296.5,29.3 L299.5,32 L302.5,26.6 L305.5,23 L308.5,23.9 L311.5,26.6 L314.5,22.1 L317.5,21.2 L320.5,17.6 L323.5,15.8 L326.5,18.5 L329.5,17.6 L332.5,12.2 L335.5,16.7 L338.5,13.1 L341.5,18.5 L344.5,12.2 L347.5,15.8 L350.5,14 L353.5,14.9 L356.5,16.7 L359.5,24.8 L362.5,26.6 L365.5,23 L368.5,19.4 L371.5,27.5 L374.5,24.8 L377.5,35.6 L380.5,34.7 L383.5,31.1 L386.5,32 L389.5,24.8 L392.5,19.4 L395.5,20.3 L398.5,20.3 L401.5,20.3 L404.5,23.9 L407.5,24.8 L410.5,23 L413.5,27.5 L416.5,21.2 L419.5,30.2 L421.5,34.7 L424.5,32.9 L427.5,35.6 L430.5,37.4 L433.5,42.8 L436.5,41.9 L439.5,40.1 L442.5,37.4 L445.5,38.3 L448.5,41 L451.5,43.7 L454.5,41.9 L457.5,45.5 L460.5,45.5 L463.5,44.6 L466.5,43.7 L469.5,38.3 L472.5,36.5 L475.5,30.2 L478.5,32.9 L481.5,31.1 L484.5,36.5 L487.5,33.8 L490.5,35.6 L493.5,36.5 L496.5,32 L499.5,23 L502.5,21.2 L505.5,20.3 L508.5,27.5 L511.5,27.5 L514.5,24.8 L517.5,26.6 L520.5,23.9 L523.5,20.3 L526.5,14 L529.5,16.7 L532.5,15.8 L535.5,11.3 L538.5,14 L541.5,14 L544.5,18.5 L547.5,12.2 L550.5,14.9 L553.5,15.8 L556.5,14.9 L559.5,17.6" fill="none" stroke-width="1" stroke-opacity="0" stroke="#888888" stroke-linejoin="round" class="amcharts-scrollbar-graph-selected-stroke"></path></g><g></g></g><g transform="translate(0,0)"><g><path cs="100,100" d="M15.5,90.5 L15.5,90.5 L15.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.15" stroke="#FFFFFF" class="amcharts-scrollbar-grid"></path></g><g><path cs="100,100" d="M107.5,90.5 L107.5,90.5 L107.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.15" stroke="#FFFFFF" class="amcharts-scrollbar-grid"></path></g><g><path cs="100,100" d="M197.5,90.5 L197.5,90.5 L197.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.15" stroke="#FFFFFF" class="amcharts-scrollbar-grid"></path></g><g><path cs="100,100" d="M289.5,90.5 L289.5,90.5 L289.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.15" stroke="#FFFFFF" class="amcharts-scrollbar-grid"></path></g><g><path cs="100,100" d="M378.5,90.5 L378.5,90.5 L378.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.15" stroke="#FFFFFF" class="amcharts-scrollbar-grid"></path></g><g><path cs="100,100" d="M471.5,90.5 L471.5,90.5 L471.5,0.5" fill="none" stroke-width="1" stroke-opacity="0.15" stroke="#FFFFFF" class="amcharts-scrollbar-grid"></path></g></g><g transform="translate(0,0)" visibility="visible"><text y="6" fill="#FFFFFF" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(61.170212768799885,78.5)" class="amcharts-scrollbar-label"><tspan y="6" x="0">Aug</tspan></text><text y="6" fill="#FFFFFF" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(153.1702127687999,78.5)" class="amcharts-scrollbar-label"><tspan y="6" x="0">Sep</tspan></text><text y="6" fill="#FFFFFF" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(243.1702127687999,78.5)" class="amcharts-scrollbar-label"><tspan y="6" x="0">Oct</tspan></text><text y="6" fill="#FFFFFF" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(335.1702127687999,78.5)" class="amcharts-scrollbar-label"><tspan y="6" x="0">Nov</tspan></text><text y="6" fill="#FFFFFF" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(424.1702127687999,78.5)" class="amcharts-scrollbar-label"><tspan y="6" x="0">Dec</tspan></text><text y="6" fill="#FFFFFF" font-family="Verdana" font-size="11px" opacity="1" font-weight="bold" text-anchor="middle" transform="translate(517.1702127687998,78.5)" class="amcharts-scrollbar-label"><tspan y="6" x="0">2013</tspan></text></g><rect x="0.5" y="0.5" width="561" height="90" rx="0" ry="0" stroke-width="0" fill="#000" stroke="#000" fill-opacity="0.005" stroke-opacity="0.005"></rect><rect x="0" y="0.5" width="560" height="90" rx="0" ry="0" stroke-width="0" fill="#000" stroke="#000" fill-opacity="0.005" stroke-opacity="0.005" aria-label="Zoom chart using cursor arrows" role="menuitem" style="cursor: -webkit-grab;"></rect><g aria-label="Zoom chart using cursor arrows" role="menuitem" transform="translate(-17,28)" visibility="visible"><image x="0" y="0" width="35" height="35" xlink:href="https://www.amcharts.com/lib/3/images/dragIconRoundBig.svg" class="amcharts-scrollbar-grip-left"></image><rect x="0.5" y="0.5" width="25" height="90" rx="0" ry="0" stroke-width="0" fill="#000" stroke="#000" fill-opacity="0.005" stroke-opacity="0.005" transform="translate(5,-27)"></rect></g><g aria-label="Zoom chart using cursor arrows" role="menuitem" transform="translate(543,28)" visibility="visible"><image x="0" y="0" width="35" height="35" xlink:href="https://www.amcharts.com/lib/3/images/dragIconRoundBig.svg" class="amcharts-scrollbar-grip-right"></image><rect x="0.5" y="0.5" width="25" height="90" rx="0" ry="0" stroke-width="0" fill="#000" stroke="#000" fill-opacity="0.005" stroke-opacity="0.005" transform="translate(5,-27)"></rect></g><clipPath id="AmChartsEl-6"><rect x="0" y="0" width="560" height="91" rx="0" ry="0" stroke-width="0"></rect></clipPath></g></g><g><g transform="translate(0,0)" class="amcharts-graph-line amcharts-graph-g1"></g><g transform="translate(0,0)" class="amcharts-graph-line amcharts-graph-g1"></g><g transform="translate(40,110)" class="amcharts-graph-line amcharts-graph-g1"></g></g><g><g></g></g><g><g class="amcharts-value-axis value-axis-v1" transform="translate(40,0)" visibility="hidden"></g><g class="amcharts-category-axis" transform="translate(40,110)" visibility="visible"><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(61.170212768799885,261.5)" class="amcharts-axis-label"><tspan y="6" x="0">Aug</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(153.1702127687999,261.5)" class="amcharts-axis-label"><tspan y="6" x="0">Sep</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(243.1702127687999,261.5)" class="amcharts-axis-label"><tspan y="6" x="0">Oct</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(335.1702127687999,261.5)" class="amcharts-axis-label"><tspan y="6" x="0">Nov</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="middle" transform="translate(424.1702127687999,261.5)" class="amcharts-axis-label"><tspan y="6" x="0">Dec</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" font-weight="bold" text-anchor="middle" transform="translate(517.1702127687998,261.5)" class="amcharts-axis-label"><tspan y="6" x="0">2013</tspan></text></g><g class="amcharts-value-axis value-axis-v1" transform="translate(40,110)" visibility="visible"><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,248)" class="amcharts-axis-label"><tspan y="6" x="0">0</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,198)" class="amcharts-axis-label"><tspan y="6" x="0">20</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,148)" class="amcharts-axis-label"><tspan y="6" x="0">40</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,99)" class="amcharts-axis-label"><tspan y="6" x="0">60</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,49)" class="amcharts-axis-label"><tspan y="6" x="0">80</tspan></text><text y="6" fill="#000000" font-family="Verdana" font-size="11px" opacity="1" text-anchor="end" transform="translate(-12,-1)" class="amcharts-axis-label"><tspan y="6" x="0">100</tspan></text></g></g><g></g><g transform="translate(40,110)"></g><g></g><g></g><clipPath id="AmChartsEl-3"><rect x="-1" y="-1" width="562" height="251" rx="0" ry="0" stroke-width="0"></rect></clipPath></svg><a href="http://www.amcharts.com" title="JavaScript charts" style="position: absolute; text-decoration: none; color: rgb(0, 0, 0); font-family: Verdana; font-size: 11px; opacity: 0.7; display: block; left: 45px; top: 115px;">JS chart by amCharts</a></div><div class="amcharts-export-menu amcharts-export-menu-top-right amExportButton"><ul><li class="export-main"><a href="#"><span>menu.label.undefined</span></a><ul><li><a href="#"><span>Download as ...</span></a><ul><li><a href="#"><span>PNG</span></a></li><li><a href="#"><span>JPG</span></a></li><li><a href="#"><span>SVG</span></a></li><li><a href="#"><span>PDF</span></a></li></ul></li><li><a href="#"><span>Save as ...</span></a><ul><li><a href="#"><span>CSV</span></a></li><li><a href="#"><span>XLSX</span></a></li><li><a href="#"><span>JSON</span></a></li></ul></li><li><a href="#"><span>Annotate ...</span></a></li><li><a href="#"><span>Print</span></a></li></ul></li></ul></div></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12">
                        <div class="card">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col">
                                        <h4>$256.23</h4>
                                        <p class="text-muted">This Month</p>
                                    </div>
                                    <div class="col-auto">
                                        <label class="label label-success">+20%</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <canvas id="this-month" style="height: 150px;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card quater-card">
                            <div class="card-block">
                                <h6 class="text-muted m-b-15">This Quarter</h6>
                                <h4>$3,9452.50</h4>
                                <p class="text-muted">$3,9452.50</p>
                                <h5>87</h5>
                                <p class="text-muted">Online Revenue<span class="f-right">80%</span></p>
                                <div class="progress"><div class="progress-bar bg-c-blue" style="width: 80%"></div></div>
                                <h5 class="m-t-15">68</h5>
                                <p class="text-muted">Offline Revenue<span class="f-right">50%</span></p>
                                <div class="progress"><div class="progress-bar bg-c-green" style="width: 50%"></div></div>
                            </div>
                        </div>
                    </div>
                    <!--  sale analytics end -->
                    <!--  project and team member start -->
                    <div class="col-xl-8 col-md-12">
                        <div class="card table-card">
                            <div class="card-header">
                                <h5>Projects</h5>
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                        <li><i class="fa fa-window-maximize full-card"></i></li>
                                        <li><i class="fa fa-minus minimize-card"></i></li>
                                        <li><i class="fa fa-refresh reload-card"></i></li>
                                        <li><i class="fa fa-trash close-card"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="chk-option">
                                                        <div class="checkbox-fade fade-in-primary">
                                                            <label class="check-task">
                                                                <input type="checkbox" value="">
                                                                <span class="cr">
                                                                    <i class="cr-icon fa fa-check txt-default"></i>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    Assigned
                                                </th>
                                                <th>Name</th>
                                                <th>Due Date</th>
                                                <th class="text-right">Priority</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="chk-option">
                                                        <div class="checkbox-fade fade-in-primary">
                                                            <label class="check-task">
                                                                <input type="checkbox" value="">
                                                                <span class="cr">
                                                                    <i class="cr-icon fa fa-check txt-default"></i>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="d-inline-block align-middle">
                                                        <img src="assets/images/avatar-4.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                                                        <div class="d-inline-block">
                                                            <h6>John Deo</h6>
                                                            <p class="text-muted m-b-0">Graphics Designer</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>Able Pro</td>
                                                <td>Jun, 26</td>
                                                <td class="text-right"><label class="label label-danger">Low</label></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="chk-option">
                                                        <div class="checkbox-fade fade-in-primary">
                                                            <label class="check-task">
                                                                <input type="checkbox" value="">
                                                                <span class="cr">
                                                                    <i class="cr-icon fa fa-check txt-default"></i>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="d-inline-block align-middle">
                                                        <img src="assets/images/avatar-5.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                                                        <div class="d-inline-block">
                                                            <h6>Jenifer Vintage</h6>
                                                            <p class="text-muted m-b-0">Web Designer</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>Mashable</td>
                                                <td>March, 31</td>
                                                <td class="text-right"><label class="label label-primary">high</label></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="chk-option">
                                                        <div class="checkbox-fade fade-in-primary">
                                                            <label class="check-task">
                                                                <input type="checkbox" value="">
                                                                <span class="cr">
                                                                    <i class="cr-icon fa fa-check txt-default"></i>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="d-inline-block align-middle">
                                                        <img src="assets/images/avatar-3.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                                                        <div class="d-inline-block">
                                                            <h6>William Jem</h6>
                                                            <p class="text-muted m-b-0">Developer</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>Flatable</td>
                                                <td>Aug, 02</td>
                                                <td class="text-right"><label class="label label-success">medium</label></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="chk-option">
                                                        <div class="checkbox-fade fade-in-primary">
                                                            <label class="check-task">
                                                                <input type="checkbox" value="">
                                                                <span class="cr">
                                                                    <i class="cr-icon fa fa-check txt-default"></i>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="d-inline-block align-middle">
                                                        <img src="assets/images/avatar-2.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                                                        <div class="d-inline-block">
                                                            <h6>David Jones</h6>
                                                            <p class="text-muted m-b-0">Developer</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>Guruable</td>
                                                <td>Sep, 22</td>
                                                <td class="text-right"><label class="label label-primary">high</label></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-right m-r-20">
                                        <a href="#!" class=" b-b-primary text-primary">View all Projects</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12">
                        <div class="card ">
                            <div class="card-header">
                                <h5>Team Members</h5>
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                        <li><i class="fa fa-window-maximize full-card"></i></li>
                                        <li><i class="fa fa-minus minimize-card"></i></li>
                                        <li><i class="fa fa-refresh reload-card"></i></li>
                                        <li><i class="fa fa-trash close-card"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="align-middle m-b-30">
                                    <img src="assets/images/avatar-2.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                                    <div class="d-inline-block">
                                        <h6>David Jones</h6>
                                        <p class="text-muted m-b-0">Developer</p>
                                    </div>
                                </div>
                                <div class="align-middle m-b-30">
                                    <img src="assets/images/avatar-1.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                                    <div class="d-inline-block">
                                        <h6>David Jones</h6>
                                        <p class="text-muted m-b-0">Developer</p>
                                    </div>
                                </div>
                                <div class="align-middle m-b-30">
                                    <img src="assets/images/avatar-3.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                                    <div class="d-inline-block">
                                        <h6>David Jones</h6>
                                        <p class="text-muted m-b-0">Developer</p>
                                    </div>
                                </div>
                                <div class="align-middle m-b-30">
                                    <img src="assets/images/avatar-4.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                                    <div class="d-inline-block">
                                        <h6>David Jones</h6>
                                        <p class="text-muted m-b-0">Developer</p>
                                    </div>
                                </div>
                                <div class="align-middle m-b-10">
                                    <img src="assets/images/avatar-5.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                                    <div class="d-inline-block">
                                        <h6>David Jones</h6>
                                        <p class="text-muted m-b-0">Developer</p>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <a href="#!" class="b-b-primary text-primary">View all Projects</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  project and team member end -->
                </div>
            </div>
            <!-- Page-body end -->
        </div>
        <div id="styleSelector"> </div>
    </div>
</div>