
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    Danh sách văn phòng phẩm trong công ty
}
<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Tạo yêu cầu sản phẩm</button>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form1" }))
    {
        @Html.Hidden("Page")
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body">
                    <!-- Basic table card start -->
                    <div class="card">
                        <div class="card-header">
                            <h5>Danh sách sản phẩm</h5>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Thông tin sản phẩm</label>
                                            <div class="row">
                                                <div class="col-5">
                                                    @Html.TextBox("MaSanPham", null, new { @class = "form-control", @placeholder = "Nhập mã sản phẩm" })
                                                </div>
                                                <div class="col-5">
                                                    @Html.TextBox("TenSanPham", null, new { @class = "form-control", @placeholder = "Nhập tên sản phẩm" })
                                                </div>
                                                <div class="col-2">
                                                    <button class="btn btn-secondary" id="btnTimKiem" type="button"><i class="fas fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row table-responsive">
                                <div class="table table-bordered table-hover text-center align-middle" id="tblSanPham">

                                </div>
                            </div>
                        </div>
                        <!-- Page-body end -->
                    </div>

                </div>
            </div>
        </div>
    }
</div>
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin chi tiết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ddlForm">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Tạo yêu cầu sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ddlYeucaunguoidung">
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
     
        function TaoYeuCauSanPham(Id) {

            $.ajax({
                url: '/NhanVien/_Form/' + Id,
                data: {
                    Id: Id,

                },
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $("#ddlYeucaunguoidung").html(data);
                }
                ,
                error: function () {

                },
                complete: function (data) {

                }
            });
        }
        TaoYeuCauSanPham();
        function ListDanhSachSanPham(MaSanPham, TenSanPham, PageCurrent) {
            $.ajax({
                url: 'SanPham/LoadDanhSanPham',
                data: {
                    MaSanPham: MaSanPham,
                    TenSanPham: TenSanPham,
                    PageCurrent: PageCurrent
                },
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $("#tblSanPham").html(data);
                },
                error: function () {

                },
                complete: function (data) {

                }
            });
        }
        ListDanhSachSanPham();
        function LoadSanPhamChiTiet(Id) {

            $.ajax({
                url: '/SanPham/_SanPhamChiTiet/' + Id,
                data: {
                    Id: Id,

                },
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $("#ddlForm").html(data);
                    var vpId = $("#VanPhongId").val()
                    $("#formNguoiDung #VanPhongId").val(vpId);
                    var chucvuId = $("#ChucVuId").val()
                    $("#formNguoiDung #DoanhNghiepID").val(chucvuId);
                }
                ,
                error: function () {

                },
                complete: function (data) {

                }
            });
        }
        $('#btnTimKiem').click(function () {
            var masp = $("#MaSanPham").val();
            var tensp = $("#TenSanPham").val();
            ListDanhSachSanPham(masp, tensp);
        });

    </script>
}